#l-topHeader{
    background: #b6f2fd;
}
#l-pageHeader{
    background: #b6f2fd;
}
 .l-gmenu-button{
     z-index:1000;
 }
.l-gmenu{
    position: fixed;
    z-index: 999;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding:2rem .5rem 2rem 2rem;
    overflow-y: hidden;
    transition: top 400ms ease,background 400ms ease;
    background:var(--bgcolor);
    @include mq(){
        padding:2rem;
    }
    &.is-open{
        //padding-right:20px;
        top:0;
    }
}
.l-gmenu__inner{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    @include mq(){
        display: block;
    }
}
.l-logo{
    display: inline-block;
    margin-bottom: 1rem;
    @include mq(){
        display: block;
        width: 10rem;
        margin: 0 auto 1rem;
    }
}
.l-gnav{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:calc(100vh - 40px);
    padding: 0 0 10rem 0;
    border-right: 1px solid color(siteC,light);
    @include mq(){
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 0 2rem;
        border:0;
        border-bottom: 1px solid color(siteC,light);
    }
    &__heading{
        display: flex;
        align-items: flex-end;
    }
    &__list{
        &-item{
            display: block;
            margin:60px 0 0 0;
            @include mq(){
                margin: 1rem 0 0;
            }
        }
    }
    &__other-item{
        margin-top:auto;
        @include mq(){
            position: absolute;
            top: -2rem;
            left: 0;
            transform: scale(.8);
        }
    }
}

.l-mvOuter{
    position: relative;
    width: 100%;
}
.l-mv{
    max-width: 1024px;
    margin: 0 auto;
    &__img{
        display: block;
        margin: 0 auto;
    }
}

.l-artset{
    flex:1;
    padding-left: 25px;
    @include mq(){
        padding: 0;
    }
}
