.l-mainPage{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding:3rem 3.2rem;
}
.l-frontRows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 0;
}
.l-leadPart{
    padding-bottom: 30px;
}
.l-tags{
    display: flex;
}