.logoSvg{
    .st0{stroke:#fff;fill:#231815;stroke-miterlimit:10;}
    .st1{fill:#231815;}
    .st2{stroke-width:10;stroke:#231815;fill:none;stroke-miterlimit:10;}
    .st3{stroke-width:10;stroke:#231815;fill:#fff;stroke-miterlimit:10;}
    .st4{fill:#fff;}
    .st5{stroke-width:8;stroke:#fff;fill:none;stroke-miterlimit:10;}
}
