.c-scrollText{
    height: 125px;
    overflow: hidden;
    border: 1px solid color(siteC,base);
    border-radius: 5px;
    &__inner{
        height: 100%;
        padding: 1.5rem 2.5rem;
        overflow: auto;
    }
    &__row{
        margin-top: 1rem;
        &:first-child{
            margin-top: 0;
        }
    }
    &__time{
        margin-right: 2rem;
        @include mq(){
            display: block;
        }
    }
}
.c-search{
    display: block;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    color: var(--textcolor);
    &::placeholder{
        color: color(siteC,light);
    } 
}
[data-colormode="dark"] .c-search{
    background: #000;
    caret-color:#fff;
    color: #fff;
}
.c-listLine{
    margin-left:1em;
    list-style: "- ";
    &__item{
        margin-top: 15px;
        &:first-child{
            margin-top: 0;
        }
    }
}
.c-desc2cell{
    @mixin bottomBorder{
        border-right:1px solid color(siteC,base);
        border-bottom:1px solid color(siteC,base);
    }
    @mixin topBorder{
        border-top:1px solid color(siteC,base);
        border-left:1px solid color(siteC,base);
    }
    width: 100%;
    outline: 1px solid color(siteC,base);
    outline-offset: -1px;
    @include mq(){
        outline:0;
    }
    &__body{
        position: relative;
    }
    &__box{
        display: flex;
        @include mq(){
            flex-direction: column;
            margin-top: 2rem;
        }
    }
    &__boxout{
        position: absolute;
        top:0;
        right: 0;
        @include mq(){
            display: block;
            top:auto;
            right: auto;
            bottom:-4.5rem;
            left:2%;
            width: 96%;
            padding: .5rem;
            border: 1px solid var(--textcolor);
            text-align: center;
        }
    }
    .c-desc2cell__term{
        @include topBorder;
        display: flex;
        position: relative;
        align-items: center;
        width: 25%;
        padding: .5rem;
        font-weight: bold;
        @include mq(){
            width: 100%;
            @include bottomBorder;
            border-bottom: 0;
        }
        &::after{
            content: '詳細';
            display: inline;
            position: absolute;
            top: 0;
            right: 0;
            font-weight: normal;
            @include mq(){
                content: '▼';
            }
        }
        &.is-active{
            background: rgb(0, 110, 255);
            color: #fff;
            &::after{
                content: '閉じる';
                @include mq(){
                    content: '▲';
                }
            }
        }
    }
    .c-desc2cell__define{
        @include topBorder;
        width: 75%;
        padding: .5rem;
        @include mq(){
            width: 100%;
            @include bottomBorder;
        }
    }
    .c-desc2cell__detail{
        display: none;
        position: absolute;
        top:0;
        left: 25%;
        width: 75%;
        height: 800px;
        overflow: auto;
        transition: height 1s ease;
        border: 1px solid color(siteC,base);
        background: var(--bgcolor);
        @include mq(){
            display: block;
            position: static;
            width: 100%;
            height: 0;
            overflow: hidden;
            border-top: 0;
            border-bottom: 0;
        }
        &.is-active{
            display:block;
        }
    }
    .c-desc2cell__detailInner{
        position: relative;
        padding: 1rem;
    }
}
