.p-main-home{
    max-width: 1024px;
    margin:0 auto;
    padding: 0 3.2rem;
    @include mq(){
        padding: 0 1.5rem;
    }
}
.p-lead-part{
    margin: 1rem 0 0;
}
.p-inclusionRows{
    margin-top: 2.5rem;
}
.p-inclusionRows__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2.5rem;
}
