.p-main-home{
    max-width: 1024px;
    margin:0 auto;
    padding: 0 3.2rem;
}
.p-lead-part{
    margin: 1rem 0 0;
}
.p-inclusionRows{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}